.body {
    background-color: #293b58;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
/*     height: 100%; */
    gap: 5%;
    /* background-color: #293b58; */
/*     border-width: 1px;
    border-color: rgb(158, 158, 158); */
    min-height: 100vh;
}

.grid-row {
    display: grid;
    grid-template-rows: 20% 40% 40%;
/*     border-width: 1px;
    border-color: rgb(160, 160, 160); */
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.vision {
    margin-left: auto;
    margin-right: auto;
    gap: 2px;
    border-color: rgb(0, 140, 255);
    min-height: 400px;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.item {
    border-style: dotted;
    border-color: rgb(21, 255, 0);
    border-width: 8px;
    border-radius: 15px;
    border-spacing: 5px;
    height: 100%;
}

.green {
    /* background-color: rgb(0, 255, 21); */
    color: black;
    font-style: bold;
    font-size: 1rem;
    justify-content: center;
    vertical-align: middle;
}

.gray {
    /* background-color: rgb(148, 148, 148); */
    color: black;
    font-style: bold;
    font-size: 1rem;
    justify-content: center;
    vertical-align: middle;
}

.yellow {
    /* background-color: rgb(255, 208, 0); */
    color: rgb(0, 0, 0);
    font-style: bold;
    font-size: 1rem;
    justify-content: center;
    vertical-align: middle;
}

.red {
    /* background-color: rgb(255, 38, 0); */
    color: rgb(255, 255, 255);
    font-style: bold;
    font-size: 1rem;
    justify-content: center;
    vertical-align: middle;
}

.left {
    background-image: url("../img/left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.right {
    background-image: url("../img/right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.front {
    background-image: url("../img/up.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.back {
    background-image: url("../img/back.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#status_connected {
    background-image: url("../img/link.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#status_connecting {
    background-image: url("../img/hourglass.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#status_disconnected {
    background-image: url("../img/x-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#btn_start {
    background-image: url("../img/bolt.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}